In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib

In [4]:
df_raw  = pd.read_csv("Dev_data_to_be_shared.csv")

In [6]:
df, test =train_test_split(df_raw, test_size=0.2, random_state=42)

In [3]:
df.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

NameError: name 'df' is not defined

In [10]:
df =pd.read_csv("train.csv")
test =pd.read_csv("test.csv")

In [3]:
df.isna().sum()

account_number                 0
bad_flag                       0
onus_attribute_1           20155
transaction_attribute_1    20155
transaction_attribute_2    20155
                           ...
onus_attribute_44          68089
onus_attribute_45          68089
onus_attribute_46          68089
onus_attribute_47          68089
onus_attribute_48          68089
Length: 1216, dtype: int64

In [4]:
li=[]
count =0
for indx, i in enumerate(zip ( df.count(),df.isna().sum())):
    #print(i[1]/i[0])
    if i[0]==0:
        continue
    if (i[1]/df.shape[0])>0:
        #print(df.columns[indx])
        #print(f"i val ={i}")
        #print(i[1]/41792)
        count+=1
        li.append(indx)
print(f'Count: {count}')
df.columns[li]

Count: 1183

Index(['onus_attribute_1', 'transaction_attribute_1',
       'transaction_attribute_2', 'transaction_attribute_3',
       'transaction_attribute_4', 'transaction_attribute_5',
       'transaction_attribute_6', 'transaction_attribute_7',
       'transaction_attribute_8', 'transaction_attribute_9',
       ...
       'bureau_enquiry_47', 'bureau_enquiry_48', 'bureau_enquiry_49',
       'bureau_enquiry_50', 'onus_attribute_43', 'onus_attribute_44',
       'onus_attribute_45', 'onus_attribute_46', 'onus_attribute_47',
       'onus_attribute_48'],
      dtype='object', length=1183)

In [11]:

try:
  corr_matrix = joblib.load('corr_matrix.joblib')
except:
  corr_matrix = df.corr()

In [2]:
!pip install joblib

Requirement already satisfied: joblib in /home/haridev/miniconda3/envs/rapids-24.12/lib/python3.12/site-packages (1.4.2)

In [12]:

joblib.dump(corr_matrix, 'corr_matrix.joblib')

['corr_matrix.joblib']

In [12]:
corr_dic = {}
if corr_matrix.empty:
  corr_matrix = joblib.load('corr_matrix.joblib')

high_corr_1 = corr_matrix[(corr_matrix > 0.7) | (corr_matrix < -0.7)]
for i in range (high_corr_1.shape[0]):
    for j in range (high_corr_1.shape[1]):
        if high_corr_1.iloc[i,j] >=0.7 or high_corr_1.iloc[i,j] <=-0.7:
            if i==j:
                continue
            if high_corr_1.columns[i] not in corr_dic.keys():
                corr_dic[high_corr_1.columns[i]] = []
            corr_dic[high_corr_1.columns[i]].append((high_corr_1.columns[j] , high_corr_1.iloc[i,j]))

            #print((high_corr_1.columns[i] , high_corr_1.columns[j] , high_corr_1.iloc[i,j]))

In [13]:
corr_dic
high_corr_features =list(corr_dic.keys())

In [14]:
not_corr_features = []
for i in df.columns:
    if i not in corr_dic.keys():
        not_corr_features.append(i)

In [15]:
len(high_corr_features )

1098

In [16]:
len(not_corr_features)

118

In [17]:
target= df['bad_flag']
df.drop(columns=['bad_flag'], inplace=True)

In [20]:
df

,account_number,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,transaction_attribute_8,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
0,47642,163948.991597,0.0,0.0,0.0,0.0,0.0,2.877115,0.0,0.0,...,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,95032,108000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,40510,61000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,1.0,0.0,1.0,1.0,1.0
3,51692,469000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,27459,152000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77439,6266,142000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,7.0,2.0,2.0,0.0,0.0,2.0,0.0
77440,54887,103000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
77441,76821,300000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
77442,861,215000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
77443,15796,94000.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
import warnings
import pandas as pd
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm
import psutil

# Suppress warnings for cleaner output
warnings.filterwarnings("ignore")
#chunk_size = 30000
imputed = set()
corr_imputer_col = []

# Function to get memory usage
def get_memory_usage():
    memory = psutil.virtual_memory()
    return f"Available Ram Memory: {memory.available / 1e9:.2f} GB, Used: {memory.used / 1e9:.2f} GB, Percent: {memory.percent}%"


with tqdm(total=len(corr_dic), desc=f"Processing ({get_memory_usage()})") as pbar:
    for ket, val in corr_dic.items():
    
        pbar.set_description(f"Processing ({get_memory_usage()})")
        
        if ket in imputed:
            continue        

        corr_feat = [fet[0] for fet in val] + [ket]
        rf_regressor = RandomForestRegressor(n_estimators=10, random_state=0, n_jobs=-1)
        imputer = IterativeImputer(estimator=rf_regressor, max_iter=10, initial_strategy='median', random_state=0)

        df[corr_feat] = imputer.fit_transform(df[corr_feat])
        corr_imputer_col.append([corr_feat, imputer])

        imputed.update(corr_feat)
        pbar.update(len(corr_feat))

Processing (Available Ram Memory: 0.07 GB, Used: 7.73 GB, Percent: 99.1%):  39%|███▊      | 423/1098 [00:59<01:38,  6.86it/s]

:

In [12]:
print(f"Length of 'corr_imputer_col': {len(corr_imputer_col)}")
print(f"Length of 'imputed_features': {len(imputed)}")
print(f"Length of 'high_corr_features': {len(high_corr_features)}")
print(f"Length of 'not_corr_features': {len(not_corr_features)}")

imputer_data_to_save ={
    'corr_imputer_col': corr_imputer_col,
    'imputed_features': imputed,
    'high_corr_features': high_corr_features,
    'not_corr_features':not_corr_features
    
}

joblib.dump(imputer_data_to_save, 'corr_imputed_data.joblib')

print("corr_imputer_col saved to joblib files.")

corr_imputer_col saved to joblib files.

In [ ]:
!pip install cuml-cu12 --extra-index-url=https://pypi.nvidia.com

In [ ]:
!pip install NumPy==2.0

In [ ]:
df.to_csv('df_corr_features_imputed.csv', index=False)

In [2]:
df = pd.read_csv('df_corr_features_imputed.csv')
df.isna().sum()

account_number             0
onus_attribute_1           0
transaction_attribute_1    0
transaction_attribute_2    0
transaction_attribute_3    0
                          ..
onus_attribute_44          0
onus_attribute_45          0
onus_attribute_46          0
onus_attribute_47          0
onus_attribute_48          0
Length: 1215, dtype: int64

In [3]:
li=[]
count =0
for indx, i in enumerate(zip ( df.count(),df.isna().sum())):
    #print(i[1]/i[0])
    if i[0]==0:
        continue
    if (i[1]/df.shape[0])>0:
        print(df.columns[indx])
        print(f"i val ={i}")
        print(i[1]/df.shape[0])
        count+=1
        li.append(indx)
print(f'Count: {count}')
df.columns[li]

transaction_attribute_38
i val =(57289, 20155)
0.26025256959867776
transaction_attribute_83
i val =(57289, 20155)
0.26025256959867776
transaction_attribute_119
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_128
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_132
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_145
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_148
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_152
i val =(57123, 20321)
0.26239605392283455
transaction_attribute_191
i val =(57289, 20155)
0.26025256959867776
transaction_attribute_264
i val =(57289, 20155)
0.26025256959867776
transaction_attribute_359
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_404
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_414
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_424
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_489
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_504
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_514
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_524
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_525
i val =(57289, 20155)
0.26025256959867776
transaction_attribute_539
i val =(57227, 20217)
0.2610531480811942
transaction_attribute_549
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_554
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_570
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_572
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_573
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_575
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_582
i val =(57205, 20239)
0.2613372243169258
transaction_attribute_621
i val =(57289, 20155)
0.26025256959867776
bureau_4
i val =(76479, 965)
0.012460616703682661
bureau_16
i val =(76479, 965)
0.012460616703682661
bureau_26
i val =(76479, 965)
0.012460616703682661
bureau_38
i val =(76479, 965)
0.012460616703682661
bureau_40
i val =(76479, 965)
0.012460616703682661
bureau_47
i val =(76479, 965)
0.012460616703682661
bureau_56
i val =(76479, 965)
0.012460616703682661
bureau_67
i val =(76479, 965)
0.012460616703682661
bureau_68
i val =(76479, 965)
0.012460616703682661
bureau_69
i val =(76479, 965)
0.012460616703682661
bureau_70
i val =(76479, 965)
0.012460616703682661
bureau_71
i val =(76479, 965)
0.012460616703682661
bureau_73
i val =(76479, 965)
0.012460616703682661
bureau_77
i val =(76479, 965)
0.012460616703682661
bureau_79
i val =(76479, 965)
0.012460616703682661
bureau_80
i val =(76479, 965)
0.012460616703682661
bureau_81
i val =(76479, 965)
0.012460616703682661
bureau_90
i val =(76479, 965)
0.012460616703682661
bureau_91
i val =(76479, 965)
0.012460616703682661
bureau_100
i val =(76479, 965)
0.012460616703682661
bureau_110
i val =(76479, 965)
0.012460616703682661
bureau_120
i val =(76479, 965)
0.012460616703682661
bureau_128
i val =(76479, 965)
0.012460616703682661
bureau_129
i val =(76479, 965)
0.012460616703682661
bureau_130
i val =(76479, 965)
0.012460616703682661
bureau_131
i val =(76479, 965)
0.012460616703682661
bureau_132
i val =(76479, 965)
0.012460616703682661
bureau_133
i val =(76479, 965)
0.012460616703682661
bureau_135
i val =(76479, 965)
0.012460616703682661
bureau_139
i val =(76382, 1062)
0.013713134652135736
bureau_140
i val =(76297, 1147)
0.01481070192655338
bureau_141
i val =(76193, 1251)
0.01615360776819379
bureau_142
i val =(76479, 965)
0.012460616703682661
bureau_143
i val =(76349, 1095)
0.014139249005733176
bureau_144
i val =(76414, 1030)
0.013299932854707918
bureau_145
i val =(70624, 6820)
0.08806363307680388
bureau_146
i val =(75499, 1945)
0.025114921749909612
bureau_152
i val =(76479, 965)
0.012460616703682661
bureau_162
i val =(76479, 965)
0.012460616703682661
bureau_172
i val =(76479, 965)
0.012460616703682661
bureau_179
i val =(76479, 965)
0.012460616703682661
bureau_181
i val =(76479, 965)
0.012460616703682661
bureau_182
i val =(76479, 965)
0.012460616703682661
bureau_184
i val =(76479, 965)
0.012460616703682661
bureau_186
i val =(76479, 965)
0.012460616703682661
bureau_192
i val =(76479, 965)
0.012460616703682661
bureau_202
i val =(76479, 965)
0.012460616703682661
bureau_212
i val =(76479, 965)
0.012460616703682661
bureau_222
i val =(76479, 965)
0.012460616703682661
bureau_232
i val =(76479, 965)
0.012460616703682661
bureau_242
i val =(76479, 965)
0.012460616703682661
bureau_252
i val =(76479, 965)
0.012460616703682661
bureau_262
i val =(76479, 965)
0.012460616703682661
bureau_272
i val =(76479, 965)
0.012460616703682661
bureau_282
i val =(76479, 965)
0.012460616703682661
bureau_292
i val =(76479, 965)
0.012460616703682661
bureau_302
i val =(76479, 965)
0.012460616703682661
bureau_312
i val =(76479, 965)
0.012460616703682661
bureau_322
i val =(76479, 965)
0.012460616703682661
bureau_332
i val =(76479, 965)
0.012460616703682661
bureau_342
i val =(76479, 965)
0.012460616703682661
bureau_352
i val =(76479, 965)
0.012460616703682661
bureau_362
i val =(76479, 965)
0.012460616703682661
bureau_372
i val =(76479, 965)
0.012460616703682661
bureau_382
i val =(76479, 965)
0.012460616703682661
bureau_392
i val =(76479, 965)
0.012460616703682661
bureau_402
i val =(76479, 965)
0.012460616703682661
bureau_409
i val =(76479, 965)
0.012460616703682661
bureau_410
i val =(76479, 965)
0.012460616703682661
bureau_412
i val =(76479, 965)
0.012460616703682661
bureau_423
i val =(76479, 965)
0.012460616703682661
bureau_424
i val =(76479, 965)
0.012460616703682661
bureau_434
i val =(44763, 32681)
0.4219952481793296
bureau_438
i val =(11192, 66252)
0.8554826713496204
bureau_445
i val =(35942, 41502)
0.5358969061515417
bureau_449
i val =(4561, 72883)
0.9411058313103662
onus_attribute_8
i val =(54880, 22564)
0.2913589174112907
bureau_enquiry_7
i val =(75334, 2110)
0.027245493517896804
bureau_enquiry_8
i val =(75334, 2110)
0.027245493517896804
bureau_enquiry_17
i val =(75334, 2110)
0.027245493517896804
bureau_enquiry_27
i val =(75334, 2110)
0.027245493517896804
bureau_enquiry_37
i val =(75334, 2110)
0.027245493517896804
bureau_enquiry_47
i val =(75334, 2110)
0.027245493517896804
Count: 111

Index(['transaction_attribute_38', 'transaction_attribute_83',
       'transaction_attribute_119', 'transaction_attribute_128',
       'transaction_attribute_132', 'transaction_attribute_145',
       'transaction_attribute_148', 'transaction_attribute_152',
       'transaction_attribute_191', 'transaction_attribute_264',
       ...
       'bureau_438', 'bureau_445', 'bureau_449', 'onus_attribute_8',
       'bureau_enquiry_7', 'bureau_enquiry_8', 'bureau_enquiry_17',
       'bureau_enquiry_27', 'bureau_enquiry_37', 'bureau_enquiry_47'],
      dtype='object', length=111)

In [8]:
corr_imputer_data = joblib.load('corr_imputed_data.joblib')
print(corr_imputer_data.keys())
print(corr_imputer_data['corr_imputer_col'])
len(corr_imputer_data['imputed_features'])

dict_keys(['corr_imputer_col', 'imputed_features', 'high_corr_features', 'not_corr_features'])
[]

1098

In [ ]:
imputed

In [ ]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm

imputed = set()
corr_imputer_col=[]

for ket, val in tqdm(corr_dic.items(), desc="Processing", total=len(corr_dic)):
    corr_feat = []
    if ket in imputed:
        continue
    for fet in val:
        corr_feat.append(fet[0])
    corr_feat.append(ket)

    rf_regressor = RandomForestRegressor(n_estimators=10, random_state=0)
    imputer = IterativeImputer(estimator=rf_regressor, max_iter=10, initial_strategy='median', random_state=0)

    df[corr_feat] = imputer.fit_transform(df[corr_feat])
    corr_imputer_col.append([corr_feat, imputer])
    imputed.update(corr_feat)

print("Imputation completed")

Processing:  45%|████▍     | 492/1098 [08:41<1:51:13, 11.01s/it]